@import url('https://fonts.googleapis.com/css?family=Montserrat:100|Open+Sans:300');


.sidebar {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, #f5f5f5, #f5f5f5), -webkit-linear-gradient(270deg, #0080ff, #163958);
  background-image: linear-gradient(180deg, #f5f5f5, #f5f5f5), linear-gradient(180deg, #0080ff, #163958);
  overflow-y: scroll;
}

.logo {
  width: 100%;
  height: auto;
}
.logo-heading {
  display: block;
  margin-top: 0px;
  font-family: Montserrat, sans-serif;
  color: #0080ff;
  font-weight: 300 !important;
  text-align: center;
  letter-spacing: 4px;

  transition: font-size 0.5s;

  @media screen and (max-width: 1200px) {
    font-size: 2em;

    transition: font-size 0.5s;
  }

  @media screen and (max-width: 1000px) {
    font-size: 1.5em;

    transition: font-size 0.5s;
  }
  @media screen and (max-width: 750px) {
    font-size: 2em;

    transition: font-size 0.5s;
  }
}

.profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 256px;
  padding-top: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-shrink: 0;
  border-color: #19197031 !important;
  border-bottom-style: solid !important;
  border-bottom-width: 2px !important;
}

.profile-image {
  display: block;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
}

.profile-heading {
  display: block;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: #36454f;
  font-weight: 300;
}

.link {
  display: block !important;
  margin: 12px auto !important;
  border: 1px solid #0080ff  !important;
  border-radius: 5px !important;
  background-color: transparent !important;
  color: #0080ff !important;
}

.link:active {
  background-color: #0080ff !important;
  color: #fff !important;
}

.footer p {
  padding-top: 256px;
  padding-right: 12px;
  padding-left: 12px;
  text-align: center;
  color: #36454f6b;
  text-align: center;
}
